<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\App\Demo.Sln\Demo.App.Mvc\packages.config" />
  <repository path="..\App\Demo.Sln\Demo.App.Rest\packages.config" />
  <repository path="..\App\Demo.Sln\Demo.App.RestfulObjects\packages.config" />
  <repository path="..\App\Demo.Sln\Demo.Dom.CoffeeShop\packages.config" />
  <repository path="..\App\Demo.Sln\Demo.TestSupport\packages.config" />
</repositories>